@font-face {
    font-family: "Spartan-Med";
    src: url('../assets/fonts/Spartan/static/Spartan-Medium.ttf');
  }
  
  @font-face {
    font-family: "Spartan-Semibold";
    src: url('../assets/fonts/Spartan/static/Spartan-SemiBold.ttf')
  }
  
  @font-face {
    font-family: "Spartan-Bold";
    src: url('../assets/fonts/Spartan/static/Spartan-Bold.ttf')
  }